# Use the test moduleset repo so that we can demonstrate local serving via SFFE
# and production pushing into the test repository.
use_modulesets_test_config: true

app_name: "J2clPintoPmfEnhancerMss"

js_warnings_whitelist_path: "third_party/java_src/j2cl/transpiler/javatests/com/google/j2cl/transpiler/buildtest/J2clPintoPmfEnhancerMss_warnings_whitelist.txt"

pmf: {
  module_set_id: "J2clPintoPmfEnhancerMss_processed_module_set"
  pmf_file_path: "third_party/java_src/j2cl/transpiler/javatests/com/google/j2cl/transpiler/buildtest/J2clPintoPmfEnhancerMss_processed_module_set.PMF"
  customized_option_generator: "com.google.apps.framework.modulesets.compiler.J2clOptionsGenerator"
}
