package ${packageName};

public abstract class AbstractRewriter extends ProcessorPrivate implements Rewriter {
#foreach($clazz in $classes)
#if(${clazz.isContext()})

  private ${clazz.SimpleName} current${clazz.SimpleName} = null;
  final void setCurrent${clazz.SimpleName}(${clazz.SimpleName} node) {
    current${clazz.SimpleName} = node;
  }
  public final ${clazz.SimpleName} getCurrent${clazz.SimpleName}() {
    return current${clazz.SimpleName};
  }
#end
#end
#foreach($clazz in $classes)

  @Override
  public boolean shouldProcess${clazz.SimpleName}(${clazz.SimpleName} node) {
#if(${clazz.isTop()})
    return true;
#else
    return shouldProcess${clazz.SuperclassName}(node);
#end
  }
#end
#foreach($clazz in $classes)

  @Override
  public ${clazz.SimpleName} preProcess${clazz.SimpleName}(${clazz.SimpleName} node) {
    return node;
  }
#end
#foreach($clazz in $classes)
  @Override
  public Node postProcess${clazz.SimpleName}(${clazz.SimpleName} node) {
    return rewrite${clazz.SimpleName}(node);
  }

#end
#foreach($clazz in $classes)

  @Override
  public Node rewrite${clazz.SimpleName}(${clazz.SimpleName} node) {
#if(${clazz.isTop()})
    return node;
#else
    return rewrite${clazz.SuperclassName}(node);
#end
  }
#end
}