package ${packageName};

abstract class ProcessorPrivate implements Processor {
#foreach($clazz in $classes)
#if(${clazz.isContext()})

  abstract void push${clazz.SimpleName}(${clazz.SimpleName} node);
  abstract ${clazz.SimpleName} pop${clazz.SimpleName}();
#end
#end

#foreach($clazz in $classes)
  abstract boolean shouldProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end

#foreach($clazz in $classes)
  abstract ${clazz.SimpleName} preProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end

#foreach($clazz in $classes)
  abstract Node postProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end
}