package ${packageName};

interface ProcessorPrivate extends Processor {

#foreach($clazz in $classes)
  boolean shouldProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end

#foreach($clazz in $classes)
  <T extends Node> T preProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end

#foreach($clazz in $classes)
  <T extends Node> T postProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end
}