package ${packageName};

interface Rewriter {

#foreach($clazz in $classes)
  boolean shouldProcess${clazz.SimpleName}(${clazz.SimpleName} node);
#end

#foreach($clazz in $classes)
  Node rewrite${clazz.SimpleName}(${clazz.SimpleName} node);
#end
}