goog.module('vmbootstrap.primitives.$%PRIMITIVE_NAME%');


// Imports headers for both eager and lazy dependencies to ensure that
// all files are included in the dependency tree.
let _$Util = goog.require('nativebootstrap.Util');
%long_ONLY% let _Long = goog.require('nativebootstrap.Long$impl');


// Re-exports the implementation.
let $%PRIMITIVE_NAME% = goog.require('vmbootstrap.primitives.$%PRIMITIVE_NAME%$impl');
exports = $%PRIMITIVE_NAME%;