package ${packageName};

public abstract class AbstractVisitor extends ProcessorPrivate {
#foreach($clazz in $classes)

  @Override
  final boolean shouldProcess${clazz.SimpleName}(${clazz.SimpleName} ${clazz.ParameterName}) {
    return enter${clazz.SimpleName}(${clazz.ParameterName});
  }
#end
#foreach($clazz in $classes)

  @Override
  final ${clazz.TopClassName} postProcess${clazz.SimpleName}(${clazz.SimpleName} ${clazz.ParameterName}) {
    exit${clazz.SimpleName}(${clazz.ParameterName});
    return ${clazz.ParameterName};
  }
#end
#foreach($clazz in $classes)

  public boolean enter${clazz.SimpleName}(${clazz.SimpleName} ${clazz.ParameterName}) {
#if(${clazz.isTop()})
    return true;
#else
    return enter${clazz.SuperclassName}(${clazz.ParameterName});
#end
  }
#end

#foreach($clazz in $classes)
  public void exit${clazz.SimpleName}(${clazz.SimpleName} ${clazz.ParameterName}) {
#if(!${clazz.isTop()})
    exit${clazz.SuperclassName}(${clazz.ParameterName});
#end
  }
#end
}
