package ${packageName};

interface Visitor {

#foreach($clazz in $classes)
  boolean enter${clazz.SimpleName}(${clazz.SimpleName} ${clazz.ParameterName});
#end

#foreach($clazz in $classes)
  void exit${clazz.SimpleName}(${clazz.SimpleName} ${clazz.ParameterName});
#end
}