/**
 * Generated test suite from j2cl_test target
 */
goog.module('${testClass.qualifiedName()}__j2cl_generated_testsuite');


const JavaWrapper = goog.require('${testClass.jsUnitAdapterQualifiedClassName()}');

goog.setTestOnly();

const testSuite = goog.require('goog.testing.testSuite');
const TestCase = goog.require('goog.testing.TestCase');

testSuite(new JavaWrapper(), {order: TestCase.Order.NATURAL});
