/**
 * Generated test suite from j2cl_test target
 */
goog.module('${testClass.jsUnitQualifiedName()}');


const JavaWrapper = goog.require('${testClass.jsUnitAdapterQualifiedClassName()}');

goog.setTestOnly();

const TestCase = goog.require('goog.testing.TestCase');

#if(${testClass.isParameterized()})
const {parameterizedTestSuite} = goog.require('com.google.j2cl.junit.parameterizedTestSuite');
parameterizedTestSuite(new JavaWrapper(), {order: TestCase.Order.NATURAL});
#else
const testSuite = goog.require('goog.testing.testSuite');
testSuite(new JavaWrapper(), {order: TestCase.Order.NATURAL});
#end
