/**
 * Generated test suite from j2cl_test target
 */
goog.module('${testClass.jsUnitQualifiedName()}');


const JavaWrapper = goog.require('${testClass.jsUnitAdapterQualifiedClassName()}');

goog.setTestOnly();

const TestCase = goog.require('goog.testing.TestCase');
const testSuite = goog.require('goog.testing.testSuite');

#if(${testClass.isParameterized()})
const {expandParameterized} = goog.require('com.google.j2cl.junit.parameterizedTestSuite');
const suite = expandParameterized(new JavaWrapper());
#else
const suite = new JavaWrapper();
#end

testSuite(suite, {order: TestCase.Order.NATURAL});