#macro( methodExecution $testMethod )
  #if($testMethod.isAsync())
await(withTimeout(actualTest.${testMethod.javaMethodName()}(), ${testMethod.timeout()}));
  #else
actualTest.${testMethod.javaMethodName()}();
  #end
#end
#macro( methodExecutions $testMethods )
  #foreach($testMethod in $testMethods)
#methodExecution( $testMethod )
  #end
#end

/**
 * Generated test suite from j2cl_test target
 */
package ${testClass.jsUnitPackageName()};

import static com.google.j2cl.junit.runtime.JsUnitHelpers.await;
import static com.google.j2cl.junit.runtime.JsUnitHelpers.handleAssumptionFailure;
import static com.google.j2cl.junit.runtime.JsUnitHelpers.withTimeout;

import com.google.j2cl.junit.runtime.InternalAssumptionViolatedException;
import com.google.j2cl.junit.runtime.JsUnitHelpers.IThenable;
import jsinterop.annotations.JsAsync;
import jsinterop.annotations.JsMethod;
import jsinterop.annotations.JsPackage;
import jsinterop.annotations.JsType;

@SuppressWarnings("StaticQualifiedUsingExpression")
@JsType
public class ${testClass.jsUnitAdapterClassName()} {

  private ${testClass.qualifiedName()} actualTest;

#if(${testClass.isParameterized()})
  private int currentParameterValueIndex;

  public static Object[] data = new Object[0];

  static {
    int counter = 0;
    for (Object testCaseData : ${testClass.qualifiedName()}.${testClass.parameterizedDataMethod().get().javaMethodName()}()) {
      data[counter++] = testCaseData;
    }
  }

  public Object[] getData() {
    return data;
  }

  public void setCurrentParameterValueIndex(int currentParameterValueIndex) {
    this.currentParameterValueIndex = currentParameterValueIndex;
  }

  @SuppressWarnings("unchecked")
  public <T> T getParam(int index, int currentTestCaseIndex) {
    Object testCaseParam = data[currentTestCaseIndex];
    Object[] normalizedParamValues =
      (testCaseParam instanceof Object[]) ? (Object[]) testCaseParam : new Object[] { testCaseParam };
    validateDataMatchParameterDimension(normalizedParamValues);
    return (T) normalizedParamValues[index];
  }

  private static void validateDataMatchParameterDimension(Object[] testCaseParam) {
    int dataDimension = testCaseParam.length;

    int numberOfParametersFromConstructor =
      ${testClass.testConstructor().numberOfParameters()};
    if (numberOfParametersFromConstructor > 0 && numberOfParametersFromConstructor != dataDimension) {
      throw new AssertionError("Wrong number of parameters."
          + " Constructor parameters counted: " + numberOfParametersFromConstructor
          + ", available parameters: " + dataDimension + ".");
    }

    int numberOfParametersFromInjection = ${testClass.parameterizedFields().size()};
    if (numberOfParametersFromInjection > 0 && numberOfParametersFromInjection != dataDimension) {
      throw new AssertionError("Wrong number of parameters and @Parameter fields."
          + " @Parameter fields counted: " + numberOfParametersFromInjection
          + ", available parameters: " + dataDimension + ".");
    }
  }

  public String getParameterizedNameTemplate() {
    return "${testClass.parameterizedDataMethod().get().parameterizedNameTemplate()}";
  }
#end

  public void setUpPage() throws Throwable {
    try {
      #methodExecutions( $testClass.beforeClassMethods() )
    } catch (InternalAssumptionViolatedException e) {
      handleAssumptionFailure(e);
    }
  }

  public void tearDownPage() throws Throwable {
#methodExecutions( $testClass.afterClassMethods() )
  }

  public void beforeParam() throws Throwable {
    try {
      #methodExecutions( $testClass.beforeParamMethods() )
    } catch (InternalAssumptionViolatedException e) {
      handleAssumptionFailure(e);
    }
  }

  public void afterParam() throws Throwable {
#methodExecutions( $testClass.afterParamMethods() )
  }

#if($testClass.needsAsyncSetup())
  @JsAsync
#end
  public IThenable<?> setUp() throws Throwable {

    actualTest = new ${testClass.qualifiedName()}(
    #set($maxIndex = ${testClass.testConstructor().numberOfParameters()} - 1)
    #if($maxIndex >= 0) ## Range [0..-1] still goes into the loop
    #foreach($number in [0..$maxIndex])
      getParam($number, currentParameterValueIndex)#if ($foreach.hasNext),#else#end
    #end
    #end);


    #foreach($testField in ${testClass.parameterizedFields()})
    actualTest.${testField.fieldName()} = getParam(${testField.index()}, currentParameterValueIndex);
    #end

    try {
      #if($testClass.isJUnit3())
      junit.framework.TestCaseViolator.callSetUp(actualTest);
      #end
      #methodExecutions( $testClass.beforeMethods() )
    } catch (InternalAssumptionViolatedException e) {
      handleAssumptionFailure(e);
    }
    return null;
  }

#if($testClass.needsAsyncTeardown())
  @JsAsync
#end
  public IThenable<?> tearDown() throws Throwable {
    if (actualTest == null) {
      // Test failed to be constructed, thus we can not run its teardown
      return null;
    }

    try {

  #if($testClass.isJUnit3())
      junit.framework.TestCaseViolator.callTearDown(actualTest);
  #end
  #methodExecutions( $testClass.afterMethods() )

      return null;
    } finally {
      // Ensures that the test instance is always reset to null so that if the
      // next test fails to construct the instance in the setUp, the instance
      // will be null and that will prevent the tearDown from running.
      actualTest = null;
    }
  }

#foreach($testMethod in ${testClass.testMethods()})
#if($testMethod.isAsync())
  @JsAsync
#end
  public IThenable<?> ${testMethod.jsTestMethodName()}() throws Throwable {
    try {
      #methodExecution( $testMethod )
    } catch (InternalAssumptionViolatedException e) {
      handleAssumptionFailure(e);
#if ($testMethod.expectedExceptionQualifiedName())
    } catch (${testMethod.expectedExceptionQualifiedName()} e) {
      return null;
    }
    throw new Exception("expected exception was not thrown");
#else
    }
    return null;
#end
  }
#end
}
