#macro( methodExecution $classOrInstance $testMethod)
## TODO(b/270609553) to revisit this once j2cl (j2kt web) and j2cl kotlin tests support coroutines.
#if($testMethod.isAsync())
$classOrInstance.${testMethod.javaMethodName()}().get(${testMethod.timeout()}.toLong(), java.util.concurrent.TimeUnit.MILLISECONDS);
#else
$classOrInstance.${testMethod.javaMethodName()}();
#end
#end
#macro( callMethod $testClass $method)
#if(${method.isStatic()})
#methodExecution( ${testClass.qualifiedName()} $method )
#else
#methodExecution( "actualTest" $method )
#end
#end
#macro( annotatedMethodDelegate $annotation $testClass $method)
@$annotation
fun ${method.javaMethodName()}() {
  #callMethod($testClass $method)
}

#end

/**
 * Generated test suite from j2kt_test target
 */
@file:Suppress("PackageName")
package ${testClass.jsUnitPackageName()}

import com.google.testing.kotlin.AfterClass
import com.google.testing.kotlin.AfterTest
import com.google.testing.kotlin.BeforeClass
import com.google.testing.kotlin.BeforeTest
import com.google.testing.kotlin.Test

class ${testClass.jsUnitAdapterClassName()} {

  val actualTest = ${testClass.qualifiedName()}()

#if($testClass.isJUnit3())
  @BeforeTest
  fun junit3SetUp() {
    junit.framework.TestCaseViolator.callSetUp(actualTest)
  }

#end
#foreach($beforeMethod in ${testClass.beforeMethods()})
#annotatedMethodDelegate( "BeforeTest" $testClass $beforeMethod )
#end
#foreach($afterMethod in ${testClass.afterMethods()})
#annotatedMethodDelegate( "AfterTest" $testClass $afterMethod )
#end
#if($testClass.isJUnit3())
  @AfterTest
  fun junit3TearDown() {
    junit.framework.TestCaseViolator.callTearDown(actualTest)
  }

#end
#foreach($testMethod in ${testClass.testMethods()})
  @Test
  fun ${testMethod.javaMethodName()}()  {
    #if ($testMethod.expectedExceptionQualifiedName())
    try {
      #callMethod( $testClass $testMethod )
    } catch (e: ${testMethod.expectedExceptionQualifiedName()}) {
      return
    }
    throw Exception("expected exception was not thrown")
#else
    #callMethod( $testClass $testMethod )
#end
  }
#end

  companion object {
#foreach($beforeClassMethod in ${testClass.beforeClassMethods()})
    #annotatedMethodDelegate( "BeforeClass" $testClass $beforeClassMethod )

#end
#foreach($afterClassMethod in ${testClass.afterClassMethods()})
    #annotatedMethodDelegate( "AfterClass" $testClass $afterClassMethod )

#end
  }
}
