/**
 * Generated test suite from j2wasm_test target
 */
goog.module('${testClass.jsUnitQualifiedName()}');
goog.setTestOnly();
const testSuite = goog.require('goog.testing.testSuite');
const TestCase = goog.require('goog.testing.TestCase');
const j2wasm = goog.require('j2wasm');

let exports;

testSuite({
  async setUpPage() {
    // Set a 30 * 1000 timeout to ensure that the wasm module has enough time to load
    const timeout = 30 * 1000;
    TestCase.getActiveTestCase().promiseTimeout = timeout;

    const absolutePath = "REPLACEMENT_BUILD_PATH_PLACEHOLDER";

    const userImports = {
      'goog.testing.TestCase.saveMessage': msg => TestCase.getActiveTestCase().saveMessage(msg)
    }
    const instance = await j2wasm.instantiateStreaming(absolutePath, userImports);
    exports = instance.exports;
    exports.setUpPageIn${testClass.simpleName()}();
  },

  tearDownPage() {
    // Note that exports might be null due to a failed instantiation.
    exports?.tearDownPageIn${testClass.simpleName()}();
  },

  setUp() {
    exports.setUpIn${testClass.simpleName()}();
  },

  tearDown() {
    exports.tearDownIn${testClass.simpleName()}();
  },

#foreach($testMethod in ${testClass.testMethods()})
  ${testMethod.jsTestMethodName()}() {
    exports.${testMethod.jsTestMethodName()}In${testClass.simpleName()}();
  },

#end

}, {order: TestCase.Order.NATURAL});

