  /**
   * Runs inline static field initializers.
   * @public
   */
  static $clinit() {${sourceGenerator.setClinitEnclosingTypeDescriptor($classType.Descriptor)}
#if ($GeneratorUtils.needRewriteClinit($classType))
    $className.$clinit = function() {};
#end
#foreach($lazyImport in ${lazyImports})
#set ($alias = ${lazyImport.Alias})
    $alias = goog.module.get('${lazyImport.getImplModulePath()}');
#end
#if (${GeneratorUtils.needCallSuperClinit($classType)})
    ${superTypeName}.$clinit();
#end
#foreach ($staticField in $classType.getStaticFields())
#if ($staticField.hasInitializer())
#if (!$staticField.isCompileTimeConstant())
#set ($staticFieldName = ${ManglingNameUtils.getMangledName($staticField.Descriptor)})
#set ($directStaticFieldAccess = "$" + ${staticFieldName})
    ${className}.${directStaticFieldAccess} = ${sourceGenerator.toSource(${staticField.Initializer})};
#end
#end
#end
#foreach ($staticInitializerBlock in $classType.StaticInitializerBlocks)
#foreach ($statementInInitializer in $staticInitializerBlock.Statements) $sourceGenerator.toSource($statementInInitializer) #end
#end
  }${sourceGenerator.setClinitEnclosingTypeDescriptor(null)}