  /**
   * Runs inline static field initializers.
   * @public
   * @nocollapse
   */
  static $clinit() {
#if ($GeneratorUtils.needRewriteClinit($classType))
    $className.$clinit = function() {};
#end
#foreach($lazyImport in ${lazyImports})
#set ($alias = ${lazyImport.Alias})
    $alias = goog.module.get('${lazyImport.getImplFileName()}');
#end
#if ($superTypeName)
    $superTypeName.$clinit();
#end
#foreach ($typeName in $classType.StaticFieldClinits)
    ${statementSourceGenerator.toSource($typeName)}.$clinit();
#end
#foreach ($staticField in $classType.getStaticFields())
#if ($staticField.hasInitializer())
#if (!$staticField.isCompileTimeConstant())
#set ($staticFieldName = ${ManglingNameUtils.getMangledName($staticField.Descriptor)})
    ${className}.${staticFieldName} = ${statementSourceGenerator.toSource(${staticField.Initializer}, $classType.Descriptor)};
#end
#end
#end
#foreach ($staticInitializerBlock in $classType.StaticInitializerBlocks)
#foreach ($statementInInitializer in $staticInitializerBlock.Statements)
    $statementSourceGenerator.toSource($statementInInitializer, $classType.Descriptor)
#end
#end
  }