#set ($superTypeDescriptor = $classType.SuperTypeDescriptor)
#set ($superTypeName = ${sourceGenerator.toSource($superTypeDescriptor)})
  /**
   * Defines instance fields.
   * @private
   */
  constructor() {
#if ($superTypeDescriptor)
    super();
#end
#foreach ($field in $classType.getInstanceFields())
#set ($fieldVisibility = $field.Descriptor.Visibility)
#set ($fieldType = ${sourceGenerator.getJsDocName($field.Descriptor.TypeDescriptor)})
#set ($fieldName = ${ManglingNameUtils.getMangledName($field.Descriptor)})
#set ($initialValue = ${GeneratorUtils.getInitialValue($field)})
    /**
     * @$fieldVisibility {$fieldType}
     */
    this.$fieldName = ${sourceGenerator.toSource($initialValue)};
#end
  }

