#if(${method.SelfReference.Visibility.isPublic()})
#set ($ctorVisibility = "protected")
#else
#set ($ctorVisibility = $method.SelfReference.Visibility)
#end
#set ($parameterList = $TranspilerUtils.getParameterList($method))
#set ($mangledNameOfCreate = $ManglingNameUtils.getConstructorMangledName($method.SelfReference))
#set ($mangledNameOfCtor = $ManglingNameUtils.getCtorMangledName($method.SelfReference))
  /**
   * A particular Java constructor as a factory method.
#foreach($parameter in $method.Parameters)
#set ($parameterTypeName = $TranspilerUtils.getJsDocName($parameter.TypeRef))
   * @param {$parameterTypeName} $parameter.Name
#end
   * @return {!$jsDocName}
   * @${method.SelfReference.Visibility}
   */
  static ${mangledNameOfCreate}($parameterList) {
    $className.$clinit();
    var instance = new $className;
    instance.$mangledNameOfCtor($parameterList);
    return instance;
  }

  /**
   * Initializes instance fields for a particular Java constructor.
#foreach($parameter in $method.Parameters)
#set ($parameterTypeName = $TranspilerUtils.getJsDocName($parameter.TypeRef))
   * @param {$parameterTypeName} $parameter.Name
#end
   * @$ctorVisibility
   */
  $mangledNameOfCtor($parameterList) {
#foreach ($stmt in ${method.Body.Statements})
    $StatementSourceGenerator.toSource($stmt)
#end
  }
