#*
 This is a VTL comment block.
 This .vm file is to be implemented.
*###
#set ($moduleName = $compilationUnit.Name)
#set ($rootTypeName = $compilationUnit.Name)
#set ($filePath = $compilationUnit.FilePath)
#set ($packageName = $compilationUnit.PackageName)
goog.module('gen.${packageName}.${moduleName}Module');


/**
 * Transpiled from $filePath.
 */
class $rootTypeName {
  testHelloWorld() {}
};


/**
 * Exported class.
 */
exports.$rootTypeName = $rootTypeName;
