#*
 This is a VTL comment block.
 This .vm file is to be implemented.
*###
#set ($moduleName = $compilationUnit.Name)
#set ($filePath = $compilationUnit.FilePath)
#set ($packageName = $compilationUnit.PackageName)
goog.module('gen.${packageName}.${moduleName}Module');


#foreach( $requiredModule in $compilationUnit.RequiredModules)
#set ($importName = $requiredModule.ClassName)
var $importName = goog.require('$requiredModule.ModuleName').$importName;
#end


#foreach($classType in $compilationUnit.Types)
#set ($isInterface = $classType.isInterface())
/**
 * Transpiled from $filePath.
#if ($isInterface)
 * @interface
#end
 */
#if($isInterface)
#parse( "com/google/j2cl/generator/JsInterface.vm" )
#else
#parse( "com/google/j2cl/generator/JsClass.vm" )
#end
#if($velocityCount < $compilationUnit.getTypes().size())
## three blank lines between class definitions.



#end
#end
##
##
#foreach($classType in $compilationUnit.Types)
#if(${classType.getVisibility().isPublic()})##
#set ($className = ${TranspilerUtils.getClassName($classType)})


/**
 * Exported class.
 */
exports.$className = $className;
#end
#end
