#if (${GeneratorUtils.shouldNotEmitCode($method)})
#else
#set ($methodHeader = $GeneratorUtils.getMethodHeader($method, $statementSourceGenerator))
  /**
#if ($method.isSynthetic())
   * Synthetic method.
#end
#if ($method.isAbstract())
   * Abstract method.
#end
#if ($method.isOverride())
   * @override
#end
#if (!${method.Descriptor.getTypeParameterTypeDescriptors().isEmpty()})
   * @template ${statementSourceGenerator.getJsDocNames(${method.Descriptor.getTypeParameterTypeDescriptors()})}
#end
#foreach ($parameter in $method.Parameters)
#set ($parameterTypeName = ${statementSourceGenerator.getJsDocName(${parameter.TypeDescriptor})})
   * @param {$parameterTypeName} $statementSourceGenerator.toSource($parameter)
#end
#set ($returnTypeDescriptor = ${method.Descriptor.getReturnTypeDescriptor()})
#if (!$GeneratorUtils.isVoid($returnTypeDescriptor))
   * @return {${statementSourceGenerator.getJsDocName($returnTypeDescriptor)}}
#end
   * @${method.Descriptor.Visibility}
   */
#if ($method.isNative())
  // native $methodHeader

#else
  $methodHeader
  ${statementSourceGenerator.toSource($method.Body)}
#end
#end