#if(${method.SelfReference.isStatic()})
#set ($staticModifier = "static ")
#else
#set ($staticModifier = "")
#end
#set ($parameterList = $TranspilerUtils.getParameterList($method))
  /**
#foreach($parameter in $method.Parameters)
#set ($parameterTypeName = $TranspilerUtils.getJsDocName($parameter.TypeRef))
   * @param {$parameterTypeName} $parameter.Name
#end
   * @${method.SelfReference.Visibility}
   */
  $staticModifier${ManglingNameUtils.getMangledName($method.SelfReference)}($parameterList) {
#if (${method.SelfReference.isStatic()})
    $className.$clinit();
#end
#foreach ($stmt in ${method.Body.Statements})
    $StatementSourceGenerator.toSource($stmt)
#end
  }
