#*
 This is a VTL comment block.
 This .vm file is to be implemented.
*###
#set ($moduleName = $compilationUnit.Name)
#set ($filePath = $compilationUnit.FilePath)
/**
 * Transpiled from $filePath
 */
export class $moduleName {
};
