#set ($className = ${sourceGenerator.toSource($classType.Descriptor)})

class $className {
#foreach($method in $classType.Methods)
#if (${method.Descriptor.isJsOverlay()} && ${method.Descriptor.isStatic()})
#parse( "com/google/j2cl/generator/JsMethod.vm" )
#end
#end
#parse( "com/google/j2cl/generator/JsClinit.vm")
};
#foreach ($staticField in $classType.getStaticFields())
#parse( "com/google/j2cl/generator/JsStaticField.vm" )
#end


/**
 * Export class.
 */
exports = $className;
