#set ($staticFieldType = ${statementSourceGenerator.getJsDocName(${staticField.Descriptor.TypeDescriptor})})
#set ($directStaticFieldAccess = ${ManglingNameUtils.getMangledName($staticField.Descriptor, true)})
#set ($initialValue = ${GeneratorUtils.getInitialValue($staticField)})


/**
 * @private {$staticFieldType}
 */
$className.$directStaticFieldAccess = ${statementSourceGenerator.toSource($initialValue)};
