#set ($staticFieldVisibility = $staticField.Descriptor.Visibility)
#set ($staticFieldType = ${statementSourceGenerator.getJsDocName(${staticField.Descriptor.TypeDescriptor})})
#set ($directStaticFieldAccess = ${ManglingNameUtils.getMangledName($staticField.Descriptor, true)})
#set ($initialValue = ${TranspilerUtils.getInitialValue($staticField)})


/**
 * @$staticFieldVisibility {$staticFieldType}
 */
$className.$directStaticFieldAccess = ${statementSourceGenerator.toSource($initialValue)};
