/**
 * Header transpiled from $classType.Descriptor.RawTypeDescriptor.SourceName.
 */
goog.module('${selfImport.getHeaderModulePath()}');


// Imports headers for both eager and lazy dependencies to ensure that
// all files are included in the dependency tree.
#foreach($eagerImport in ${eagerImports})
#set ($alias = ${eagerImport.Alias})
let _$alias = goog.require('${eagerImport.getHeaderModulePath()}');
#end
#foreach($lazyImport in ${lazyImports})
#set ($alias = ${lazyImport.Alias})
let _$alias = goog.require('${lazyImport.getHeaderModulePath()}');
#end


// Re-exports the implementation.
#set ($className = ${sourceGenerator.toSource($classType.Descriptor)})
var $className = goog.require('${selfImport.getImplModulePath()}');
#set ($className = ${sourceGenerator.toSource($classType.Descriptor)})
exports = $className;
