# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Format reference: https://docs.github.com/en/actions/reference

name: CI

permissions:
  contents: read

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#on
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # Daily at 12pm UTC
    - cron: '0 12 * * *'
  # Can be called from other workflow to run the tests
  workflow_call:
    inputs:
      git_ref:
        description: 'The git ref used to checkout the repository and run the tests.'
        type: string
        required: false

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobs
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        test-target: ['default', 'samples']
        os: [macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: '21'
          distribution: 'zulu'
          java-package: jdk

      - name: Checkout the repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.git_ref || github.ref }}

      - name: Cache Bazel repositories
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/bazel-repository-cache
          key: bazel-repositories-${{hashFiles('**/MODULE.bazel')}}
          restore-keys: |
            bazel-repositories-

      - name: Cache Bazel results
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/bazel-action-cache
          key: bazel-actions-${{runner.os}}-${{github.sha}}
          restore-keys: |
            bazel-actions-${{runner.os}}-

      - name: Configure bazel
        run: |
          echo "build --repository_cache=~/bazel-repository-cache" >> ~/.bazelrc
          echo "build --disk_cache=~/bazel-action-cache" >> ~/.bazelrc
          echo "build -c opt" >> ~/.bazelrc
          echo "build --verbose_failures" >> ~/.bazelrc
          bazel info
      - name: Run tests
        if: matrix.test-target == 'default'
        run: ./build_test.sh CI
      - name: Run samples tests
        if: matrix.test-target == 'samples'
        run: |
          if [[ -f "./build_test_samples.sh" ]]; then
            ./build_test_samples.sh CI
          fi